@import url('https://fonts.googleapis.com/css2?family=Mulidsplay:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: rgba(94, 104, 121, 0.712);
  font-family: 'Muli', sans-serif;
  display:flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  overflow:hidden;
  margin: 1rem;
}

.neumorphism-3 {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	height: 150px;
	width: 250px;
	background: #dde1e7;
	border-radius: 5%;
	box-shadow: -3px -3px 7px #ffffffa6, 3px 3px 5px rgba(94, 104, 121, 0.712);
  position: relative;
  margin-bottom: 5rem;
}
.neumorphism-3:after {
	content: '';
	position: absolute;
	height: 80%;
	width: 90%;
	background-color: transparent;
	border-radius: 5px;
	box-shadow: inset -3px -3px 7px #ffffffb0, inset 3px 3px 5px rgba(94, 104, 121, 0.671);
}

.main_key{
background-color: #eee;
box-shadow: -3px -3px 7px #ffffffb2, 3px 3px 5px rgba(94, 104, 121, 0.945);
border-radius: 5px;
display: inline-flex;
align-items: center;
font-size: 1.5rem;
font-weight: 500;
padding:1rem;
flex-direction: column;
margin:1rem;
min-width: 150px;
position:relative;
}
.key{
background-color: #eee;
box-shadow: inset -3px -3px 7px #ffffffb0,
inset 3px 3px 5px rgba(94, 104, 121, 0.692);
border-radius: 5px;
display: inline-flex;
align-items: center;
font-size: 1.5rem;
font-weight: 500;
padding:1rem;
flex-direction: column;
margin:1rem;
min-width: 150px;
position:relative;
}
.key small{
  position: absolute;
  top:-2rem;
  left: 0;
  text-align: center;
  width: 100%;
  color:rgb(211, 208, 208);
  font-size:1rem;
}

/* tablet */
/* @media(min-width:1000px){


} */

/* pc */
/* @media(min-width:1200px){

} */
